In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-01-17 23:00:54,3.0707,172.7902,80.58,76,61,19.57
1,1,Atuona,PF,2021-01-17 23:00:54,-9.8000,-139.0333,78.57,78,47,14.81
2,2,Tuktoyaktuk,CA,2021-01-17 23:00:54,69.4541,-133.0374,-4.00,84,90,9.22
3,3,Bethel,US,2021-01-17 23:00:55,41.3712,-73.4140,41.00,52,90,8.05
4,4,Rikitea,PF,2021-01-17 23:01:31,-23.1203,-134.9692,79.09,74,0,13.35

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-01-17 23:00:54,3.0707,172.7902,80.58,76,61,19.57
1,1,Atuona,PF,2021-01-17 23:00:54,-9.8000,-139.0333,78.57,78,47,14.81
4,4,Rikitea,PF,2021-01-17 23:01:31,-23.1203,-134.9692,79.09,74,0,13.35
8,8,Panji,ID,2021-01-17 23:01:32,-7.7253,114.0995,76.82,86,99,4.92
9,9,Avarua,CK,2021-01-17 23:01:30,-21.2078,-159.7750,86.00,66,20,9.22
15,15,Kismayo,SO,2021-01-17 23:01:33,-0.3582,42.5454,76.77,85,22,12.08
23,23,Maceio,BR,2021-01-17 23:01:35,-9.6658,-35.7353,75.20,88,0,5.75
31,31,Flinders,AU,2021-01-17 23:01:36,-34.5833,150.8552,75.99,63,12,1.01
32,32,Samarai,PG,2021-01-17 23:01:36,-10.6167,150.6667,84.99,74,50,15.84
36,36,Marawi,PH,2021-01-17 23:01:37,7.9986,124.2928,75.00,90,99,4.00

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0   Butaritari      KI     80.58   3.0707  172.7902
1       Atuona      PF     78.57  -9.8000 -139.0333
4      Rikitea      PF     79.09 -23.1203 -134.9692
8        Panji      ID     76.82  -7.7253  114.0995
9       Avarua      CK     86.00 -21.2078 -159.7750
15     Kismayo      SO     76.77  -0.3582   42.5454
23      Maceio      BR     75.20  -9.6658  -35.7353
31    Flinders      AU     75.99 -34.5833  150.8552
32     Samarai      PG     84.99 -10.6167  150.6667
36      Marawi      PH     75.00   7.9986  124.2928

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    try:
        # Get the latitude and longitude.
        lat = row["Lat"]
        lng = row["Lng"]

        # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"

        # Use the search term: "lodging" and our latitude and longitude.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        # Make request and get the JSON data from the search.
        hotels = requests.get(base_url, params=params).json()
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:  
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,80.58,3.0707,172.7902,Isles Sunset Lodge
1,Atuona,PF,78.57,-9.8000,-139.0333,Villa Enata
4,Rikitea,PF,79.09,-23.1203,-134.9692,Pension Maro'i
8,Panji,ID,76.82,-7.7253,114.0995,warung manda
9,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...
553,Meulaboh,ID,75.83,4.1363,96.1285,Kost Pria
561,Puerto Gaitan,CO,86.23,4.3133,-72.0816,Brisas del Yucao
563,Pontianak,ID,75.20,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
567,Tefe,BR,82.40,-3.3542,-64.7114,Aracati Hotel
569,Alta Floresta,BR,78.80,-9.8756,-56.0861,Floresta Amazonica Hotel

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))