## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Metro,ID,78.13,broken clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang
1,1,Rikitea,PF,78.87,scattered clouds,-23.1203,-134.9692,Pension Maro'i
2,4,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,5,Faanui,PF,82.08,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,8,Soe,ID,76.69,light rain,-9.8607,124.2840,Dena Hotel

In [13]:
hotel_df = vacation_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng", "Hotel Name"]].copy()
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Metro,ID,78.13,broken clouds,-5.1131,105.3067,OYO 3177 Wisma Lintang
1,Rikitea,PF,78.87,scattered clouds,-23.1203,-134.9692,Pension Maro'i
2,Souillac,MU,78.80,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,Faanui,PF,82.08,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,Soe,ID,76.69,light rain,-9.8607,124.2840,Dena Hotel
5,Vaini,TO,87.80,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Cabo San Lucas,MX,73.40,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
7,Srikakulam,IN,69.12,scattered clouds,18.3000,83.9000,Sriram residency
8,Mar Del Plata,AR,62.60,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
9,Hermanus,ZA,66.99,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F and {Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Flinders"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Flinders"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hobart"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Seddon"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mount Gambier"]

In [49]:
vacation_start.columns

Index(['City_ID', 'City', 'Country', 'Max Temp', 'Description', 'Lat', 'Lng',
       'Hotel Name'],
      dtype='object')

In [57]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [87]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])
fig = gmaps.figure()

directions = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,250,Flinders,AU,82.00,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
1,250,Flinders,AU,82.00,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
2,118,Hobart,AU,66.20,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
3,554,Seddon,AU,69.01,overcast clouds,-37.8068,144.8916,AKOM AT DOCKLANDS
4,164,Mount Gambier,AU,60.80,overcast clouds,-37.8333,140.7667,Commodore on the Park

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F and {Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [83]:
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Shellharbour Resort & Conference Centre</dd>\n<dt>City</dt><dd>Flinders</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>82.0 °F and clear sky</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shellharbour Resort & Conference Centre</dd>\n<dt>City</dt><dd>Flinders</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>82.0 °F and clear sky</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>66.2 °F and broken clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>AKOM AT DOCKLANDS</dd>\n<dt>City</dt><dd>Seddon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>69.01 °F and overcast clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Commodore on the Park</dd>\n<dt>City</dt><dd>Mount Gambier</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>60.8 °F and overcast clouds</dd>\n</dl>\n']

In [88]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))